// admin
.wrapper{
    width: 100vw;
    height: 100vh;
    background: red;
  
  }
  .header{
    background: #fff;
    // position: fixed;
    // top: 0;
    // height: 10vh;
  }
  .content{
    height: 90vh;
  }